body {
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Incosolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}
h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 64px;
    font-style: normal;
    color: #333333;
}
.child-element p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #4F4F4F;
}
.toHome {
    background-color: #333333;
    width: 200px;
}
.toHome p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    height: 50px;
    padding-top: 30px;
    margin-left: 30px;
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
}
.child-element {
    flex: 1;
    margin: 10px;
}
.child-element:first-child {
    margin-right: 20px;
}
img {
    width: 100%;
}
.child-element p {
    width: 400px;
}
/* FOOTER */
footer p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #BDBDBD;
}